<it-modal footerShadow="true" closeButton="false" alignment="centered">
  <ng-container modalTitle>Token-Type Ratio (TTR)</ng-container>

  <p>Il rapporto tra il numero di parole uniche (types) e il numero totale di parole (tokens).</p>
  <p><strong>Come si calcola</strong>: Si calcola utilizzando la seguente formula:</p>
  <img src="https://latex.codecogs.com/svg.image?TTR=\frac{types}{tokens}" title="TTR=\frac{types}{tokens}"  alt="TTR Formula"/>
  <p><strong>Come si ottimizza</strong>: Un TTR alto indica varietà lessicale, ma troppa diversità può rendere il testo complesso. Un valore moderato facilita la lettura e la comprensione.</p>

  <ng-container footer>
    <button itButton="primary" size="sm" type="button" data-bs-dismiss="modal">Chiudi</button>
  </ng-container>
</it-modal>
