<it-modal footerShadow="true" closeButton="false" alignment="centered">
  <ng-container modalTitle>Latinismi</ng-container>

  <p>Il numero di parole di origine latina o locuzioni latine usate nel testo (es. ex ante, ad hoc).</p>
  <p><strong>Come si calcola</strong>: Si confrontano le parole con una lista di latinismi comuni.</p>
  <p><strong>Come si ottimizza</strong>: Ridurre i latinismi rende il testo più accessibile.</p>

  <ng-container footer>
    <button itButton="primary" size="sm" type="button" data-bs-dismiss="modal">Chiudi</button>
  </ng-container>
</it-modal>
