<it-modal footerShadow="true" closeButton="false" alignment="centered">
  <ng-container modalTitle>Caratteri</ng-container>

  <p>Il numero totale di lettere, spazi e segni di punteggiatura nel testo.</p>
  <p><strong>Come si calcola</strong>: Si conta ogni carattere presente nel testo.</p>
  <p><strong>Come si ottimizza</strong>: Un numero elevato può indicare un testo prolisso.</p>

  <ng-container footer>
    <button itButton="primary" size="sm" type="button" data-bs-dismiss="modal">Chiudi</button>
  </ng-container>
</it-modal>
