<it-modal footerShadow="true" closeButton="false" alignment="centered">
  <ng-container modalTitle>Connettivi difficili</ng-container>

  <p>Il numero di connettivi logici e formali complessi (es. nondimeno, tuttavia).</p>
  <p><strong>Come si calcola</strong>: Si confrontano le parole con una lista di connettivi formali/burocratici/difficili.</p>
  <p><strong>Come si ottimizza</strong>: Sostituire connettivi difficili con parole più semplici migliora la leggibilità.</p>

  <ng-container footer>
    <button itButton="primary" size="sm" type="button" data-bs-dismiss="modal">Chiudi</button>
  </ng-container>
</it-modal>
