<it-modal footerShadow="true" closeButton="false" alignment="centered">
  <ng-container modalTitle>Tokens aggiunti</ng-container>

  <p>Numero di parole presenti nel secondo testo ma non nel primo.</p>
  <p><strong>Come si calcola</strong>: Si confrontano i due insiemi di parole e si contano quelle nuove nel secondo testo.</p>
  <p><strong>Come si ottimizza</strong>: Un numero elevato di token aggiunti indica che il secondo testo è più lungo o più dettagliato.</p>

  <ng-container footer>
    <button itButton="primary" size="sm" type="button" data-bs-dismiss="modal">Chiudi</button>
  </ng-container>
</it-modal>
