<it-modal footerShadow="true" closeButton="false" alignment="centered">
  <ng-container modalTitle>Types</ng-container>

  <p>Il numero di parole uniche presenti nel testo.</p>
  <p><strong>Come si calcola</strong>: Si conta ogni parola una sola volta, indipendentemente da quante volte appare.</p>
  <p><strong>Come si ottimizza</strong>: Un numero basso può indicare un testo ripetitivo, ma comprensibile; mentre un numero troppo alto può significare un testo più difficile.</p>

  <ng-container footer>
    <button itButton="primary" size="sm" type="button" data-bs-dismiss="modal">Chiudi</button>
  </ng-container>
</it-modal>
