<it-modal footerShadow="true" closeButton="false" alignment="centered">
  <ng-container modalTitle>Tokens</ng-container>

  <p>Il numero totale di parole (o unità linguistiche) in un testo, inclusi articoli, preposizioni e parole ripetute.</p>
  <p><strong>Come si calcola</strong>: Si conta ogni parola separata da spazi o punteggiatura.</p>
  <p><strong>Come si ottimizza</strong>: Un numero elevato di token può indicare un testo lungo e complesso. Per rendere il testo più semplice, si possono eliminare parole ridondanti.</p>

  <ng-container footer>
    <button itButton="primary" size="sm" type="button" data-bs-dismiss="modal">Chiudi</button>
  </ng-container>
</it-modal>
