<it-header [light]="false" [showSearch]="false" [sticky]="false"
           slimTitle="PRIN 2020" slimTitleLink="https://prin.mur.gov.it/Ricerca?Filtro.Anno=%25&Filtro.Ateneo=%25&Filtro.Argomento=verbacxss">
  <ng-container slimRightZone>
    @for (item of SOCIAL_LINKS_ITEMS; track $index) {
      <div class="social-icon">
        <a [href]="item.href" [target]="item.target">
          <img [src]="item.icon" [alt]="item.name" />
        </a>
      </div>
    }
  </ng-container>
  <ng-container brand>
    <a [href]="'/home'">
      <img class="logo p-1 p-md-2 me-2" ngSrc="./assets/logo.svg" title="sempl-it-logo" alt="sempl-it-logo" height="100" width="100" priority/>
      <div class="it-brand-text">
        <div class="it-brand-title">SEMPL-IT</div>
      </div>
    </a>
  </ng-container>
  <div rightZone>
    <a href="https://www3.unimol.it/" title="mur" target="_blank" rel="external">
      <img class="logo p-1 p-md-2" ngSrc="./assets/logo-unimol.svg" title="mur-unimol" alt="mur-unimol" height="100" width="100" priority/>
    </a>
    <a href="https://prin.mur.gov.it" title="mur" target="_blank" rel="external">
      <img class="logo p-1 p-md-2" ngSrc="./assets/logo-mur.svg" title="mur-logo" alt="mur-logo" height="100" width="100" priority/>
    </a>
  </div>
  <ng-container navItems>
    @for (item of MENU_ITEMS; track $index) {
      <it-navbar-item>
        <a [class]="this.router.url.includes(item.path)? 'nav-link active' : 'nav-link'" [href]="item.path">
          <span>{{item.name}}</span>
        </a>
      </it-navbar-item>
    }
  </ng-container>
</it-header>
