<section class="section section-muted" aria-describedby="privacy-policy-title">
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="h3 text-center mb-4" id="privacy-policy-title">Privacy Policy</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-justify">La presente informativa è resa, ai sensi e per gli effetti degli artt. 12, 13, 14 del Regolamento (UE) 2016/679 relativo alla protezione delle persone fisiche con riguardo al trattamento dei dati personali, nonché alla libera circolazione di tali dati (RGPD), a coloro che interagiscono con SEMPL-IT, a partire dall’indirizzo <a href="https://sempl-it.unimol.it" target="_blank">https://sempl-it.unimol.it</a></p>


          <h2 class="h3 text-center">Titolare del trattamento</h2>
          <p class="text-justify">Il Titolare del trattamento è l’Università degli Studi del Molise, nella persona del Magnifico Rettore, con sede in Via F. De Sanctis snc – 86100 Campobasso, Italia; e-mail <a href="mailto:segreteria.rettorato@unimol.it">segreteria.rettorato&#64;unimol.it</a>.</p>
          <p class="text-justify">Per l’esercizio dei diritti previsti dal GDPR (artt. da 12 a 21) gli interessati possono rivolgersi all’indirizzo <a href="mailto:segreteria.rettorato@unimol.it">segreteria.rettorato&#64;unimol.it</a>.</p>


          <h2 class="h3 text-center">Responsabile della protezione dei dati</h2>
          <p class="text-justify">Responsabile della Protezione dei Dati personali presso l’Università degli Studi del Molise</p>
          <p class="text-justify">Dott. Fabio Iacobone</p>
          <p class="text-justify">e-mail <a href="mailto:supporto.privacy@unimol.it">supporto.privacy&#64;unimol.it</a></p>
          <p class="text-justify">e-mail <a href="mailto:f.iacobone@unimol.it">f.iacobone&#64;unimol.it</a></p>


          <h2 class="h3 text-center">Luogo di trattamento dei dati</h2>
          <p class="text-justify">I trattamenti connessi ai servizi web hanno luogo presso l’Università degli Studi del Molise.</p>
          <p class="text-justify">I dati sono curati solo da personale incaricato al trattamento o da eventuali incaricati per occasionali operazioni di manutenzione.</p>


          <h2 class="h3 text-center">Oggetto del trattamento</h2>
          <p class="text-justify">L’Università degli Studi del Molise può trattare le seguenti Categorie di dati personali degli utenti:</p>
          <ul>
            <li>Dati di navigazione (anonimizzati): SEMPL-IT si avvale della tecnologia Google Analytics ed è configurato adottando tecniche per ridurre il potere identificativo dei cookie attraverso l’anonimizzazione dell’IP e la configurazione del servizio in modo da impedire l’associazione della restante porzione dell’indirizzo IP ad altri dati posseduti da Google.</li>
            <li>Dati forniti volontariamente dall’utente: In specifiche sezioni del sito, l’utente può caricare contenuti o dati (es. file, testi) in forma facoltativa. Tali dati non vengono salvati automaticamente. L’utente può selezionare esplicitamente l’opzione per consentire la memorizzazione dei dati forniti.</li>
          </ul>


          <h2 class="h3 text-center">Finalità del trattamento</h2>
          <p class="text-justify">I dati personali verranno trattati mediante strumenti informatico/telematici per finalità strettamente necessarie a:</p>
          <ol type="a">
            <li>assicurare il corretto funzionamento tecnico del sito;</li>
            <li>analizzare il traffico in forma aggregata e anonima per fini statistici;</li>
            <li>migliorare l’esperienza utente e i contenuti;</li>
            <li>nel caso di esplicito consenso, utilizzare i dati forniti dall’utente per attività di ricerca;</li>
          </ol>


          <h2 class="h3 text-center">Base giuridica dei trattamenti</h2>
          <p class="text-justify">I dati di navigazione di chi effettua l’accesso al SEMPL-IT e naviga al suo interno vengono trattati nel legittimo interesse del titolare per le finalità di cui ai punti a), b) e c).</p>
          <p class="text-justify">I dati forniti volontariamente vengono trattati previo consenso esplicito dall’utente.</p>


          <h2 class="h3 text-center">Modalità del trattamento</h2>
          <p class="text-justify">I dati personali sono trattati mediante strumenti manuali, informatici e telematici comunque idonei a garantire la sicurezza e la riservatezza dei dati.</p>
          <p class="text-justify">Specifiche misure di sicurezza sono osservate per prevenire la perdita dei dati, usi illeciti o non corretti ed accessi non autorizzati nel pieno rispetto dell’art. 32 del GDPR.</p>
          <p class="text-justify">I trattamenti sono relativi alle già citate finalità e rispettano le indicazioni del GDPR agli artt. da 5 a 11 e in osservanza di questi principi così come enunciati dal GDPR</p>
          <ul>
            <li>liceità, nel rispetto dei consensi espressi</li>
            <li>minimizzazione, ovvero i trattamenti effettuati utilizzano il minimo dei dati indispensabili alla finalità per la quale sono stati raccolti</li>
            <li>limitazione, ovvero i trattamenti sono limitati alle già citate finalità</li>
            <li>sicurezza, ovvero l’Università degli Studi del Molise garantisce l’applicazione delle misure di sicurezza previste dagli standard internazionali e suggerite dalle migliori pratiche del settore</li>
            <li>correttezza, l’Università degli Studi del Molise mette a disposizione gli strumenti per mantenere aderenti alla realtà i dati</li>
            <li>integrità, l’Università degli Studi del Molise adotta le migliori pratiche di gestione dei dati affinché vengano ridotti al minimo gli errori nella gestione dei dati</li>
          </ul>


          <h2 class="h3 text-center">Periodo di conservazione dei dati</h2>
          <p class="text-justify">In relazione alle diverse finalità e agli scopi per i quali sono stati raccolti, i dati saranno conservati per il tempo previsto dalla normativa di riferimento ovvero per quello strettamente necessario al perseguimento delle finalità.</p>
          <p class="text-justify">In particolare</p>
          <ul>
            <li>i dati di navigazione raccolti da Google Analytics, finalizzati ad analisi statistiche e al miglioramento dei servizi forniti, vengono conservati per un massimo di 14 mesi.</li>
          </ul>


          <h2 class="h3 text-center">Trasferimento all’estero dei dati personali</h2>
          <p class="text-justify">I trasferimenti di dati personali verso Paesi non appartenenti allo Spazio Economico Europeo (SEE, ossia UE + Norvegia, Liechtenstein, Islanda) o verso un’organizzazione internazionale sono consentiti a condizione che l’adeguatezza del Paese terzo o dell’organizzazione sia riconosciuta tramite decisione della Commissione europea (art. 45 del Regolamento UE 2016/679).</p>
          <p class="text-justify">In assenza di tale decisione, il trasferimento è consentito ove il titolare o il responsabile del trattamento forniscano garanzie adeguate che prevedano diritti azionabili e mezzi di ricorso effettivi per gli interessati (art. 46 del Regolamento UE 2016/679). Al riguardo, possono costituire garanzie adeguate:</p>
          <p class="text-justify">senza autorizzazione da parte del Garante:</p>
          <ul>
            <li>gli strumenti giuridici vincolanti ed esecutivi tra soggetti pubblici (art. 46, par.2, lett. a);</li>
            <li>le norme vincolanti d’impresa (art. 46, par. 2, lett. b);</li>
            <li>le clausole tipo (art. 46, par. 2, lett. c e lett. d);</li>
            <li>i codici di condotta (art. 46, par. 2, lett. e);</li>
            <li>i meccanismi di certificazione (art. 46, par. 2, lett. f).</li>
          </ul>
          <p class="text-justify">previa autorizzazione del Garante:</p>
          <ul>
            <li>le clausole contrattuali ad hoc (art. 46, par. 3, lett. a);</li>
            <li>gli accordi amministrativi tra autorità o organismi pubblici (art. 46, par. 3, lett.b)</li>
          </ul>
          <p class="text-justify">In assenza di ogni altro presupposto, è possibile trasferire i dati personali in base ad alcune deroghe che si verificano in specifiche situazioni (art. 49 del Regolamento UE 2016/679).</p>


          <h2 class="h3 text-center">Diritti dell’interessato</h2>
          <p class="text-justify">I diritti esercitabili nei confronti dell’Università degli Studi del Molise (Titolare del trattamento) sono:</p>
          <ul>
            <li>diritto di accesso: il diritto di ottenere la conferma dell’esistenza di un trattamento relativo ai Dati personali</li>
            <li>diritto di rettifica: il diritto di ottenere la correzione dei dati eventualmente inesatti</li>
            <li>diritto di cancellazione (oblio): il diritto, ove ricorrano i presupposti, di ottenere la cancellazione dei dati personali</li>
            <li>diritto di limitazione: il diritto di opporsi o chiedere la limitazione al trattamento dei propri dati personali, fermo restando quanto previsto riguardo la necessità ed obbligatorietà del trattamento dati per poter fruire dei servizi offerti</li>
            <li>diritto di reclamo: il diritto di avanzare un reclamo al Garante per la Protezione dei Dati Personali.</li>
          </ul>
          <p class="text-justify">Per l’esercizio di tali diritti l’interessato può rivolgersi al Responsabile della protezione dei dati.</p>
          <p class="text-justify">Ai sensi del GDPR è possibile esercitare i diritti previsti dagli articoli 15, 16, 17, 18, 19, 20, 21, 22. Gli interessati hanno il diritto di ottenere dall’Università degli Studi del Molise, nei casi previsti, l’accesso ai dati personali, la rettifica o la cancellazione degli stessi (diritto all’oblio o la limitazione del trattamento che li riguarda (o di opporsi al trattamento (artt. 15 e ss. del Regolamento). L’apposita istanza alla Università degli Studi del Molise deve essere presentata al Responsabile della Protezione dei Dati personali.</p>
          <p class="text-justify">L’interessato ha diritto di proporre reclamo all’Autorità di controllo (art. 77) per la protezione dei dati personali (www.garanteprivacy.it)</p>


          <h2 class="h3 text-center">Consenso al trattamento dei dati personali</h2>
          <p class="text-justify">Firmando questo modulo accetta e fornisce il suo consenso al trattamento dei suoi dati per personali per le finalità indicate nella presente informativa. La revoca del consenso non pregiudica la liceità del trattamento che ha avuto luogo sulla base del consenso prestato prima della revoca.</p>
          <p class="text-justify">In ottemperanza a quanto previsto dal GDPR, l’utente esprime il suo consenso ai sensi dell’art. 7 del GDPR al trattamento dei suoi dati personali secondo le modalità e per le finalità sopra indicate.</p>
          <p class="text-justify">Questo consenso viene esercitato dall’utente dopo aver letto il contenuto delle informazioni indicate nella sua interezza.</p>
          <p class="text-justify">Tutte le autorizzazioni rilasciate dall’utente possono essere revocate in qualsiasi momento mediante e-mail all’indirizzo supporto.privacy&#64;unimol.it</p>


          <h2 class="h3 text-center">Modifiche all’informativa</h2>
          <p class="text-justify">Il/la titolare si riserva il diritto di modificare, aggiornare, aggiungere o rimuovere parti della presente Informativa sulla privacy, a propria discrezione e in qualsiasi momento.</p>
          <p class="text-justify">L’interessato/a deve verificare periodicamente la presenza di modifiche. L’utilizzo del sito e dell’app, dopo la pubblicazione delle modifiche, costituirà accettazione delle stesse.</p>
        </div>
      </div>
    </div>
  </div>
</section>
