<section class="section section-muted" aria-describedby="support-title">
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="h3 text-center mb-4" id="support-title">Assistenza</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Scrivici a questo indirizzo (<a href="mailto:sempl.it.assistenza@gmail.com">sempl.it.assistenza&#64;gmail.com</a>) per:</p>
          <ul>
            <li>segnalare errori nei testi semplificati automaticamente;</li>
            <li>chiedere informazioni di natura tecnica sul software;</li>
            <li>chiedere informazioni di natura linguistica e grammaticale.</li>
          </ul>

          <button itButton="primary" class="mb-5" (click)="sendMail()">
            <it-icon name="mail" color="white" class="mx-2"></it-icon> Scrivici subito
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
