<it-modal footerShadow="true" closeButton="false" alignment="centered">
  <ng-container modalTitle>Verbi attivi</ng-container>

  <p>Il numero di verbi in forma attiva nel testo.</p>
  <p><strong>Come si calcola</strong>: Si identificano i verbi di forma attiva (es. Mario scrive una lettera).</p>
  <p><strong>Come si ottimizza</strong>: Aumentare i verbi attivi rende il testo più diretto e dinamico.</p>

  <ng-container footer>
    <button itButton="primary" size="sm" type="button" data-bs-dismiss="modal">Chiudi</button>
  </ng-container>
</it-modal>
