<it-modal footerShadow="true" closeButton="false" alignment="centered">
  <ng-container modalTitle>Verbi passivi</ng-container>

  <p>Il numero di verbi in forma passiva nel testo.</p>
  <p><strong>Come si calcola</strong>: Si individuano le costruzioni passive (es. La lettera è stata scritta da Mario) in cui il soggetto non è attore nell'azione verbale, ma la subisce.</p>
  <p><strong>Come si ottimizza</strong>: Ridurre l’uso della forma passiva rende il testo più chiaro e immediato.</p>

  <ng-container footer>
    <button itButton="primary" size="sm" type="button" data-bs-dismiss="modal">Chiudi</button>
  </ng-container>
</it-modal>
