<section class="section section-muted" aria-describedby="sitemap-title">
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="h3 text-center mb-4" id="sitemap-title">Mappa del sito</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="link-list-wrapper">
            <ul class="link-list">
              @for (menuItem of SITEMAP; track $index) {
                <li>
                  <a class="list-item large medium" [href]="menuItem.path">
                    <span class="list-item-title">{{ menuItem.name }}</span>
                  </a>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

