<section class="it-hero-wrapper it-hero-small-size it-dark it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper">
        <img ngSrc="assets/background.webp" title="verbacxss-background-img" alt="verbacxss-background-img" fill priority>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          <h1 class="h2">SEMPL-IT</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <div class="card-wrapper">
        <it-card shadow="true">
          <div class="card-text font-sans-serif">
            <div class="video-container">
              <div class="video-wrapper">
                <iframe src="https://www.youtube.com/embed/Hq8NjrBiAS8"
                        width="100%"
                        height="100%"
                        title="final"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen></iframe>
              </div>
            </div>

            <p class="text-justify">
            Il progetto SEMPL-IT ha prodotto un applicativo open access che è a disposizione della Pubblica Amministrazione (e di chiunque voglia accedervi) ed è stato specializzato nella semplificazione automatica di testi di tipo amministrativo.            </p>
            <p class="text-justify">
            L’applicativo SEMPL-IT scaturisce dal progetto di ricerca PRIN 2020 "VerbACxSS: verbi analitici, complessità, verbi sintetici, e semplificazione. Per l'accessibilità" che è stato assegnato al consorzio di tre università italiane, Università RomaTre, Università del Molise, Università di Salerno. La realizzazione e la responsabilità dell’applicativo si devono all’unità locale dell’Università del Molise.
            </p>
            <p class="text-justify">
            SEMPL-IT è il frutto della rigorosa riflessione teorica in tema di semplificazione e modernizzazione del linguaggio sia amministrativo sia istituzionale e dalle sperimentazioni realizzate dal team di ricerca molisano nel corso di un triennio.
            </p>
            <p class="text-justify">
            SEMPL-IT è facilissimo da usare e consente di a) caricare un documento in italiano e ottenerne una versione semplificata; b) analizzare un documento caricato con tutti i parametri di complessità utilizzati; c) confrontare due versioni di un documento con livello di complessità  diversificato e apprezzare l’incremento dei diversi parametri.
            </p>

          </div>
        </it-card>
      </div>
    </div>
  </div>
</div>
