<it-modal footerShadow="true" closeButton="false" alignment="centered">
  <ng-container modalTitle>Token eliminati</ng-container>

  <p>Numero di parole presenti nel primo testo ma assenti nel secondo.</p>
  <p><strong>Come si calcola</strong>: Si confrontano i due insiemi di parole e si contano quelle eliminate nel secondo testo.</p>
  <p><strong>Come si ottimizza</strong>: Un numero alto di token rimossi può indicare una sintesi o una semplificazione del testo.</p>

  <ng-container footer>
    <button itButton="primary" size="sm" type="button" data-bs-dismiss="modal">Chiudi</button>
  </ng-container>
</it-modal>
