<it-modal footerShadow="true" closeButton="false" alignment="centered">
  <ng-container modalTitle>Frasi</ng-container>

  <p>Il numero totale di frasi nel testo.</p>
  <p><strong>Come si calcola</strong>: Si conta il numero di segmenti separati da punti fermi, punti interrogativi o esclamativi.</p>
  <p><strong>Come si ottimizza</strong>: Frasi più brevi rendono il testo più leggibile. Per migliorare la comprensione, si possono spezzare frasi lunghe e complesse.</p>

  <ng-container footer>
    <button itButton="primary" size="sm" type="button" data-bs-dismiss="modal">Chiudi</button>
  </ng-container>
</it-modal>
