<it-modal footerShadow="true" closeButton="false" alignment="centered">
  <ng-container modalTitle>Vocabolario di base</ng-container>

  <p>Il numero di parole che appartengono a <a href="https://www.internazionale.it/opinione/tullio-de-mauro/2016/12/23/il-nuovo-vocabolario-di-base-della-lingua-italiana" target="_blank">"Il Nuovo vocabolario di base della lingua italiana"</a> a cura di Tullio De Mauro.</p>
  <p><strong>Come si calcola</strong>: Si confrontano le parole con la lista di parole presenti ne "Il Nuovo vocabolario di base della lingua italiana".</p>
  <p><strong>Come si ottimizza</strong>: Usare più parole di base, invece di tecnicismi superflue, semplifica la lettura e la comprensione.</p>

  <ng-container footer>
    <button itButton="primary" size="sm" type="button" data-bs-dismiss="modal">Chiudi</button>
  </ng-container>
</it-modal>
