<it-modal footerShadow="true" closeButton="false" alignment="centered">
  <ng-container modalTitle>Semplificazione</ng-container>

  <p>Il processo di semplificazione si articola in 8 fasi successive, ognuna delle quali segue la precedente in un percorso strutturato.</p>
  <ol>
    <li><strong>Proofreading</strong>: Revisione del testo per correggere errori grammaticali e di sintassi.</li>
    <li><strong>Normalizzazione riferimenti normativi</strong>: Uniformazione dei riferimenti normativi presenti nel testo.</li>
    <li><strong>Connettivi difficili</strong>: Sostituzione di connettivi difficili con altri più semplici.</li>
    <li><strong>Espressioni difficili</strong>: Sostituzione di espressioni difficili con altre più semplici.</li>
    <li><strong>Divisione frasi</strong>: Divisione di frasi troppo lunghe e complesse.</li>
    <li><strong>Nominalizzazioni</strong>: Sostituzione di nominalizzazioni con verbi.</li>
    <li><strong>Verbi</strong>: Sostituzione di verbi passivi e indefiniti con verbi attivi.</li>
    <li><strong>Riorganizzazione frase</strong>: Riorganizzazione di frasi seguendo lo scherma SVO (Soggeto-Verbo-Oggetto).</li>
  </ol>
  <ng-container footer>
    <button itButton="primary" size="sm" type="button" data-bs-dismiss="modal">Chiudi</button>
  </ng-container>
</it-modal>
