<it-modal footerShadow="true" closeButton="false" alignment="centered">
  <ng-container modalTitle>Verbi riflessivi | impersonali</ng-container>

  <p>Il numero di verbi usati in forma riflessiva oppure impersonale.</p>
  <p><strong>Come si calcola</strong>: Si identificano i verbi accompagnati da forme pronominali "si", "mi".</p>
  <p><strong>Come si ottimizza</strong>: Un uso eccessivo può rendere il testo più complesso. Se necessario, si possono sostituire con forme attive.</p>

  <ng-container footer>
    <button itButton="primary" size="sm" type="button" data-bs-dismiss="modal">Chiudi</button>
  </ng-container>
</it-modal>
